<script type="application/ld+json">
     {"@context": "http://schema.org",
     "@type": "WebSite",
     "name": "GOUP",
     "url": "{{- .Site.BaseURL -}}"
     }
</script>
<script type="application/ld+json">
{"@context": "http://schema.org",
"@type": "Organization",
"name": "GOUP",
"url": "{{- .Site.BaseURL -}}",
"logo": "{{.Site.BaseURL}}logo-blue.svg",
"email": "giraffeacademy@gmail.com",
"description": "MikeDane.com is home to high quality online courses and content",
"founder": {
     "@type": "Person",
     "name": "GOUP"
},
"sameAs": ["https://www.facebook.com/giraffeacademy/","https://twitter.com/GiraffeAcademy","https://www.youtube.com/channel/UCvmINlrza7JHB1zkIOuXEbw"]
}
</script>