<div class='page-footer grey darken-1' style="position: relative; z-index: 100">
     <div class='page-wrap'>
         <div class='row page-margin'>
              <div class='col xl4 l4 m12 s12'>
                  <h5 class='white-text'>Help GOUP Community Grow</h5>
                  <p class="white-text">If you're enjoying our content, consider contributing to the website and investing in the future!</p>
                    <a class="waves-effect waves-light btn blue" href="{{.Site.BaseURL}}contribute">Contribute Now</a>
              </div>
              <div class='col xl1 l1 hide-on-med-and-down'>
              </div>
             <div class='col xl2 l2 m12 s12'>
                 <h5 class='white-text'>Site Links</h5>
                 <ul>
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}#courses' id='courses'>Courses<i class='material-icons left'>library_books</i></a></li>
                    <br />
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}about' id='about'>About<i class='material-icons left'>info_outline</i></a></li>
                    <br />
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}contribute' id='contribute'>Contribute<i class='material-icons left'>attach_money</i></a></li>
                 </ul>
             </div>
             <div class='col xl2 l2 hide-on-med-and-down'>
             </div>
             <div class='col xl3 l3  m12 s12'>
                 <h5 class='white-text'>Social Media</h5>
                 <ul>
                    <li><a class='grey-text text-lighten-3' href='https://www.youtube.com/goupaz' target="_blank">YouTube<i class='material-icons left '>videocam</i></a></li>
                    <br />
                    <li><a class='grey-text text-lighten-3' href='https://twitter.com/goupaz' target="_blank">Twitter<i class='material-icons left'>account_circle</i></a></li>
                 </ul>
             </div>
         </div>
     </div>
     <div class='footer-copyright'>
         <div class='container center'>
             © {{ now.Year }} GOUP. All Rights Reserved
         </div>
     </div>
</div>
