.leaflet-container {
  height: 100%;
  width: 100%;
}
* {
  transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 280ms cubic-bezier(21, 169, 189, 0.897) 0ms,
    border-color 280ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
*:before,
*:after {
  transition: inherit;
}
svg {
  fill: currentColor;
  transition: fill 280ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
body {
  min-width: 22.25rem;
  font-family: "Roboto", sans-serif;
  cursor: default;
}
a,
img,
input {
  outline: none;
}
header {
  padding: 0 5%;
}
header .header-items {
  transition: height 0.3s ease;
  padding: 0.6rem;
  align-items: center;
}
@media screen and (max-width: 47.5rem) {
  header .hidden {
    position: absolute;
    top: -9999px;
    opacity: 0;
  }
}
header .expand {
  height: 9rem;
}
@media screen and (min-width: 32rem) {
  header .expand {
    height: 7.8rem;
  }
}
@media screen and (min-width: 47.5rem) {
  header .expand {
    height: 3rem;
  }
}
header .collapse {
  transition: opacity ease-in 0.1s;
}
@media screen and (max-width: 32rem) {
  header .SearchCategory {
    margin: 1rem 0;
  }
}
header .menu-icon {
  cursor: pointer;
  margin-left: 2rem;
}
@media screen and (min-width: 47.5rem) {
  header .menu-icon {
    display: none;
  }
}
header .bar1,
header .bar2,
header .bar3 {
  width: 35px;
  height: 5px;
  background-color: #055092;
  margin: 6px 0;
  transition: 0.4s;
}
header .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: #ffc107;
}
header .change .bar2 {
  transition: 0s;
  opacity: 0;
}
header .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: #ffc107;
}
header #title:hover span:nth-child(2) {
  color: #ffc107;
}
header #title:hover span:nth-child(3) {
  color: currentColor;
}
.SearchCategory .radio-box input,
.SearchCategory .radio-box label {
  cursor: pointer;
}
.SearchCategory .radio-box input {
  visibility: hidden;
  margin: 0 -0.05rem 0 0.6rem;
}
.SearchCategory .radio-box input::before,
.SearchCategory .radio-box input:checked::before,
.SearchCategory .radio-box input::after,
.SearchCategory .radio-box .input:checked::after {
  content: "";
  visibility: visible;
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
}
.SearchCategory .radio-box input::before {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0.1875rem;
  background-color: transparent;
}
.SearchCategory .radio-box input:checked::before {
  background-color: #055092;
}
.SearchCategory .radio-box input::after {
  height: 0.875rem;
  width: 0.875rem;
  border: 0.125rem solid #ffc107;
}
.SearchCategory .radio-box input:checked::after {
  border-color: #ffffff;
}
.searchbox {
  margin: 0 0.6rem 0 0;
}
.searchbox input {
  width: 11rem;
  padding: 0.3rem;
}
.searchbox input::selection {
  background: rgba(255, 255, 255, 0.15);
}
.searchbox input::-moz-selection {
  background: rgba(255, 255, 255, 0.15);
}
.searchbox input::placeholder {
  color: #f5f5f5;
  opacity: 1;
}
.searchbox input:focus::-ms-input-placeholder {
  color: #f5f5f5;
}
.searchbox input:focus:-ms-input-placeholder {
  color: #f5f5f5;
}
.searchbox input:focus,
.searchbox input:not(:placeholder-shown) {
  color: #000000;
  border-color: #055092;
}
.searchbox-tooltip {
  position: relative;
  display: inline-block;
}
.searchbox-tooltip .tooltiptext {
  position: absolute;
  z-index: 1;
  width: 220px;
  top: 110%;
  left: 50%;
  margin-left: -110px;
  visibility: hidden;
  width: 220px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #dddddd;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
}
.searchbox-tooltip:hover .tooltiptext {
  visibility: visible;
}
main {
  margin: 5rem 5% 1rem 5%;
}
main .card {
  min-height: 26rem;
  height: auto;
}
main .card .header {
  padding-top: 1.5rem;
}
main .card .header .photo {
  margin: 0;
  box-sizing: border-box;
  object-fit: cover;
  margin-bottom: -1rem;
}
main .card .header .name {
  height: 3.5rem;
}
main .card .footer {
  box-sizing: border-box;
  justify-content: center;
  font-size: 1rem;
  height: 100%;
  max-height: 4.5rem;
  min-height: 5rem;
  width: auto;
  padding: 1.5rem 1rem 2rem !important;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .card .header .title {
  box-sizing: border-box;
  justify-content: center;
  height: auto;
  max-height: 4.5rem;
  min-height: 5rem;
  width: auto;
  padding: 1.2rem 1rem 2rem !important;
  font-size: 18px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .card .main {
  height: 4.25rem;
}
main .card .main a {
  position: relative;
  z-index: 1;
}
main .card .main a svg {
  fill: #000000;
}
main .card .main a::before {
  content: "";
  width: 2.7rem;
  height: 2.7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  z-index: -1;
}
main .card:hover .header {
  background-color: #055092;
}
main .card:hover .header .photo {
  border: 0.25rem solid #ffc107;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
main .card:hover .header .personId {
  opacity: 1;
}
main .card:hover .header .title {
  color: #ffffff;
  background-color: #055092;
  word-break: break-word;
  white-space: normal;
  overflow: hidden;
}
main .card:hover .footer {
  background-color: #f5f5f5;
  word-break: break-word;
  white-space: normal;
  overflow: hidden;
}
main .card .main a:hover svg {
  fill: #ffffff;
}
main .card .main a:hover::before {
  background-color: #055092;
}
main canvas.sketch {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
footer {
  padding: 0 5%;
}
footer .repo {
  fill: #ffffff;
}
footer .repo:hover {
  fill: #055092;
}
.custom--text-primary-light {
  color: #055092;
}
.custom--bg-primary-light {
  background-color: #055092;
}
.custom--b--primary-light {
  border-color: #055092;
}
.custom--text-primary {
  color: #055092;
}
.custom--bg-primary {
  background-color: #055092;
}
.custom--b--primary {
  border-color: #055092;
}
.custom--text-primary-dark {
  color: #055092;
}
.custom--bg-primary-dark {
  background-color: #055092;
}
.custom--b--primary-dark {
  border-color: #055092;
}
.custom--text-secondary-light {
  color: #ffca28;
}
.custom--bg-secondary-light {
  background-color: #ffca28;
}
.custom--b--secondary-light {
  border-color: #ffca28;
}
.custom--text-secondary {
  color: #ffc107;
}
.custom--bg-secondary {
  background-color: #ffc107;
}
.custom--b--secondary {
  border-color: #ffc107;
}
.custom--text-secondary-dark {
  color: #ffb300;
}
.custom--bg-secondary-dark {
  background-color: #ffb300;
}
.custom--b--secondary-dark {
  border-color: #ffb300;
}
.custom--text-additional1 {
  color: #f5f5f5;
}
.custom--bg-additional1 {
  background-color: #f5f5f5;
}
.custom--b--additional1 {
  border-color: #f5f5f5;
}
.custom--text-additional2 {
  color: #f5f5f5;
}
.custom--bg-additional2 {
  background-color: #f5f5f5;
}
.custom--b--additional2 {
  border-color: #f5f5f5;
}
.custom--text-additional3 {
  color: #055092;
}
.custom--bg-additional3 {
  background-color: #055092;
}
.custom--b--additional3 {
  border-color: #055092;
}
.custom--o-95 {
  opacity: 0.95;
}
.custom--shadow-0,
.custom--shadow-hover-0:hover {
  box-shadow: none;
}
.custom--shadow-1,
.custom--shadow-hover-1:hover {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.custom--shadow-2,
.custom--shadow-hover-2:hover {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.custom--shadow-3,
.custom--shadow-hover-3:hover {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.custom--shadow-4,
.custom--shadow-hover-4:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.custom--shadow-5,
.custom--shadow-hover-5:hover {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
.custom--shadow-6,
.custom--shadow-hover-6:hover {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.custom--shadow-7,
.custom--shadow-hover-7:hover {
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}
.custom--shadow-8,
.custom--shadow-hover-8:hover {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.custom--shadow-9,
.custom--shadow-hover-9:hover {
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
    0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
}
.custom--shadow-10,
.custom--shadow-hover-10:hover {
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}
.custom--shadow-11,
.custom--shadow-hover-11:hover {
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
    0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
}
.custom--shadow-12,
.custom--shadow-hover-12:hover {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}
.custom--shadow-13,
.custom--shadow-hover-13:hover {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}
.custom--shadow-14,
.custom--shadow-hover-14:hover {
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2),
    0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
}
.custom--shadow-15,
.custom--shadow-hover-15:hover {
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2),
    0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
}
.custom--shadow-16,
.custom--shadow-hover-16:hover {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}
.custom--shadow-17,
.custom--shadow-hover-17:hover {
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
    0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
}
.custom--shadow-18,
.custom--shadow-hover-18:hover {
  box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2),
    0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
}
.custom--shadow-19,
.custom--shadow-hover-19:hover {
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2),
    0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
}
.custom--shadow-20,
.custom--shadow-hover-20:hover {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
}
.custom--shadow-21,
.custom--shadow-hover-21:hover {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}
.custom--shadow-22,
.custom--shadow-hover-22:hover {
  box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2),
    0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
}
.custom--shadow-23,
.custom--shadow-hover-23:hover {
  box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2),
    0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
}
.custom--shadow-24,
.custom--shadow-hover-24:hover {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}
.custom--unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
