{{if .Sections}}
     {{range .Sections }}
          <div class="row">
               <a href="{{.Permalink}}" ><h2 class="grey-text text-darken-2">{{.Title}}</h2></a>
               {{ template "recursive-course-listing" . }}
          </div>
     {{end}}
{{end}}
{{define "recursive-course-listing"}}
     {{if .Sections}}
          {{range .Sections }}
               <div class="col">
                    {{ partial "listings/course-card" . }}
               </div>
               {{ template "recursive-course-listing" . }}
          {{end}}

     {{end}}
{{end}}