<!-- ignore empty links with + -->
{{ $headers := findRE "<h[1-6].*?>(.|\n])+?</h[1-6]>" .Content }}
<!-- at least one header to link to -->
{{ $has_headers := ge (len $headers) 1 }}
<!-- a post can explicitly disable Table of Contents with toc: false -->
{{ $show_toc := not (eq $.Params.toc false) }}
{{ if and $has_headers $show_toc }}

   <!-- TOC header -->
   <h5>On This Page</h5>
<div class="table-of-contents" id="table-of-contents" style="margin-left:-20px">
   {{ range $headers }}
       {{ $header := . }}
       {{ range first 1 (findRE "<h[1-4]" $header 1) }}
          {{ range findRE "[1-4]" . 1 }}
               {{ $next_heading := (int .) }}
               <!-- generate li array of the proper depth -->
               {{ range seq $next_heading }}
                   <ul>
               {{end}}
               {{ $base := ($.Page.File.LogicalName) }}
               {{ $anchorId := ($header | plainify | htmlEscape | urlize) }}
               {{ $href := delimit (slice $base $anchorId) "#" | string }}
               <a href="{{ $.Page.URL }}#{{$anchorId}}">
                   <li>{{ $header | plainify | htmlEscape }}</li>
               </a>
               <!-- close list -->
               {{ range seq $next_heading }}
                   </ul>
               {{end}}
          {{end}}
       {{end}}
   {{ end }}
</div>
{{ end }}
<br><br>